<section id="event-data" data-dateid="{{month}}-{{date}}-{{year}}" data-eventid="{{eventId}}">
    <div class="page-header">
        <h1 id="event-title"></h1>
    </div>
    <p>
        <a href="/{{month}}/{{date}}/{{year}}" id="event-date"></a>
    </p>
    <p id="event-location"></p>
    <p id="event-description"></p>
</section>