<section id="event-data" data-dateid="{{month}}-{{date}}-{{year}}" data-eventid="{{eventId}}">
    <div class="page-header">
        <h1 id="event-title"></h1>
    </div>
    <p>
        <h2>Date:</h2>
        <a href="/{{month}}/{{date}}/{{year}}" id="event-date"></a>
    </p>
    <p>
        <h2>Location:</h2>
        <span id="event-location"></span>
    </p>
    <p>
        <h2>Description:</h2>
        <span id="event-description"></span>
    </p>
</section>